@charset "UTF-8";

body {
   background: #fff;
    color: #384743;
    height: 100%;
    display: flex;/*弹性布局*/
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;/*元素沿垂直主轴从上到下排列*/
    overflow-x: hidden;
    font-family: Georgia,Serif;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}
html,body,div,a,ul,li,nav,header{
    margin: 0px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@media screen and(min-width: 100em) {
    body {
        font-size: 1.16rem;
    }
}
.header {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    display: block;
}
@media screen and(min-width: 40em) {
    .header .container{
        -webkit-box-align: center;
        align-items: center;
    }
}
.header .container {
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;/*元素在页面上左右两端或则上下排列*/
    padding: 1rem 0px 1rem 0px;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0px auto 0px auto;
}
.header .nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    text-align: right;
}
* {
    box-sizing: border-box;
}
.list-nav {
    overflow-x: hidden;
    overflow-y: hidden;
    transition-property: all;
    transition-duration:  0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.list {
    list-style: none;
    padding: 12px;
}
.item-nav:first-of-type {
    margin-left: 0;
}
@media screen and (min-width: 40em){
    .item-nav {
        display: inline-block;
    }

}
.item-nav {
    display: inline-block;
}
li {
    text-align: -webkit-match-parent;
}
.item-current {
    color: #a8adac;
}
.nav a {
    padding: 0.2rem;
}
a:hover, a:active, a:focus {
    color: green;
    text-decoration: none;
}
a{
    color: #05bf85;
    text-decoration-line: none;
    text-decoration-color: initial;
    text-decoration-style: initial;
    transition-property: color,background-color;
    transition-duration: 0.1s,0.1s;
    transition-timing-function: ease,ease;
    transition-delay: 0s,0s;
}
@media screen and (min-width: 40em){/*网页布局自适应 宽度在40em以上的不展示*/
    .button-nav {
        display: none;/*此元素不会显示*/
    }
}
.button-nav {
    background: none;
    color: #05bf85;
    margin-bottom: 0;
    min-width: 4rem;
    min-width: 4rem;
}
.content{
    width: 600px;
    margin-top: 30px;
    margin-left: 100px;
}
.id{
    width:150px;
    float:left;
}
.main{
    float:left ;
    width:450px;
}

